.main {
    min-height: 83vh;
    display:flex;
    align-items: center;
    background-image: url("../../images/back-to-school-g66d709a81_1920.jpg");
    background-position: center;
    background-size: cover;
}

.title {
    font-size: 55px;
}

.subtitle {
    font-size: 25px;
    padding-top:10px;
}

.intro-text {
    width:100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
}

.landingButton {
    width: 100px;
    height: 35px;
}

.buttonContainer {
    display:flex;
    justify-content: space-around;
 
}

@media only screen and (min-width: 1200px) {
    .buttonContainer {
        padding: 0 350px;
    }

    .title {
        padding: 0 100px;
    }
}

@media only screen and (max-width: 768px) {
    .title {
        font-size: 60px;
    }

    .landingButton {
        width: 85px;
        height: 35px;
    }

    .buttonContainer {
        padding: 0 250px;
    }

}